.ItemCard {
 
}
.ItemCardImage {
  width:250px;
  height: 200px;
  
  
}
.ItemCardImage img{
  border-radius: 15px 15px 0 0;
  width:100%;
  object-fit: cover;
  height:100%;
}
.ItemCardBody {
  display:flex;
  justify-content:space-between;
}
